<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/board/lists/1">게시판</a>
            <a class="navbar-brand" href="/chat">메시지</a>
            <a class="navbar-brand" onclick = "javascript:mypage()">마이페이지</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a class="btn btn-warning pull-right" href = "javascript:logout()">로그아웃</a>
        </div>
    </div>
</nav>

<div class="container">
    <br><br><br>
    <div class="alert alert-success" id="successMessage" style="display : none">
        <strong>메세지 전송에 성공했습니다.</strong>
    </div>
    <div class="alert alert-danger" id="failMessage" style="display : none">
        <strong>메세지 전송에 실패했습니다. 잠시 후 다시 시도해 주세요.</strong>
    </div>
    <div class="alert alert-success" id="comeMessage" style="display : none">
        <strong>새로운 메세지가 도착했습니다!</strong>
    </div>
    <div class="alert alert-danger" id="nameMessage" style="display : none">
        <strong>이름을 다시 확인해주세요!</strong>
    </div>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet portlet-default">
                    <div class="portlet-title">
                        <h4 class="fa fa-circle text-green" th:text = "${receiver}"></h4>
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="chat" class="panel-collapse collapse in">
                    <div id = "space" class="portlet-body chat-widget" style="overflow-y : auto; width:auto; height:400px;">
                        <div class='row' th:each = "message:${messages}">
                            <div class='col-lg-12'>
                                <div class='media'>
                                    <div class='media-body'>
                                        <h4 class='media-heading' th:text="${message.writer.name}"></h4>
                                        <h4 class="small pull-right" th:text="${#temporals.format(message.time, 'yyyy-MM-dd HH:mm:ss')}"></h4>
                                    </div>
                                    <p th:text="${message.message}"></p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="portlet-footer">
                        <div class="row">
                            <div class="form-group col-xs-4">
                            </div>
                        </div>
                        <div class="row" style="height:90px">
                            <div class="form-group col-xs-10">
                                <textarea id="message" class="form-control" placeholder="메시지를 입력하세요" maxlength="100"></textarea>
                            </div>
                            <div class="form-group col-xs-2">
                                <button type="button" class="btn btn-default pull-right" onclick = "send()">전송하기</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림!</h4>
            </div>
            <div class="modal-body">
                로그아웃 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "y">예</button>
                <button type="button" class="btn btn-default" id = "n">아니오</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script th:inline = "javascript">
    /* <![CDATA[*/
    var id = /*[[${userId}]]*/;
    /* ]]> */
    function mypage(){
        if(id == 0){
            alert("로그인 후 이용해주세요");
        }
        else{
            window.location.href = "/users/myPage/" + id;
        }
    }
    /* <![CDATA[*/
    var chatRoomId = /*[[${chatRoomId}]]*/;
    /* ]]> */
    /* <![CDATA[*/
    var nickname = /*[[${nickname}]]*/;
    /* ]]> */
    /* <![CDATA[*/
    var receiver = /*[[${receiver}]]*/;
    /* ]]> */
    var stompClient = null;
    var d = new Date();
    connect();

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function () {
            stompClient.subscribe('/topic/' + nickname, function (e) {
                showMessage(JSON.parse(e.body));
                alertClosing('comeMessage',2000);
            });
        });
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
    }

    function send() {
        data = {'chatRoomId': chatRoomId, 'sender' :nickname, 'receiver': receiver,'message': $("#message").val()};
        stompClient.send("/app/chat/send", {}, JSON.stringify(data));
        showMessage(data);
        $("#message").val('');
        alertClosing('successMessage',2000);
    }

    function showMessage(e) {
        space = document.getElementById("space");
        space.innerHTML = "<div class='row'> <div class='col-lg-12'> <div class='media'> <div class='media-body'> <h4 class='media-heading'>" +
            e.sender + "</h4><h4 class='small pull-right'>방금</h4> </div> <p>" +
            e.message + "</p> </div> </div> </div> <hr>" + space.innerHTML;
    };
    window.onbeforeunload = function(e){
        disconnect();
    }

    function alertClosing(selector, delay){
        console.log(selector);
        document.getElementById(selector).style.display = "block";
        window.setTimeout(function(){
            document.getElementById(selector).style.display = "none";
        },delay);
    }
    function logout(){
        $("#pop").modal();
        document.getElementById("y").onclick = function(){
            window.location.href="/logout";
        }
        document.getElementById("n").onclick = function(){
            $("#pop").modal("hide");
        }
    }
</script>
</html>
