<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id = "board" href = "javascript:goBoard()">게시판</a>
            <h class="navbar-brand">채팅</h>
        </div>
    </div>
</nav>
<div class="container">
    <div class="alert alert-success" id="successMessage" style="display : none">
        <strong>메세지 전송에 성공했습니다.</strong>
    </div>
    <div class="alert alert-danger" id="failMessage" style="display : none">
        <strong>메세지 전송에 실패했습니다. 확인 후 다시 시도해 주세요.</strong>
    </div>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet portlet-default">
                    <div class="portlet-title">
                        <h4><i class="fa fa-circle text-green">채팅방</i></h4>
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="chat" class="panel-collapse collapse in">
                    <div id = "space" class="portlet-body chat-widget" style="overflow-y : auto; width:auto; height:500px;">
                    </div>
                    <div class="portlet-footer">
                        <div class="row">
                            <div class="form-group col-xs-4">
                            </div>
                        </div>
                        <div class="row" style="height:90px">
                            <div class="form-group col-xs-10">
                                <textarea style="height:80px;" id="message" class="form-control" placeholder="메세지를 입력하세요." maxlength="100"></textarea>
                            </div>
                            <div class="form-group col-xs-2">
                                <button type="button" class="btn btn-default pull-right" onclick="send()">전송</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림!</h4>
            </div>
            <div class="modal-body">
                페이지를 나가면 채팅기록이 사라집니다. 정말로 종료하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "y">예</button>
                <button type="button" class="btn btn-default" id = "n">아니오</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline = "javascript">
    var webSocket;
    /* <![CDATA[*/
    var nickname = /*[[${nickname}]]*/;
    /* ]]> */
    connect();
    document.getElementById("send").addEventListener("click",function(){
        send();
    })
    function connect(){
        webSocket = new WebSocket("ws://ec2-15-165-147-64.ap-northeast-2.compute.amazonaws.com/:8080/chat/send");
        webSocket.onopen = onOpen;
        webSocket.onmessage = onMessage;
    }
    function send(){
        msg = document.getElementById("message").value;
        webSocket.send(JSON.stringify({type:'CHAT',writer:nickname,message : msg}));
        document.getElementById("message").value = "";
    }
    function onOpen(){
        webSocket.send(JSON.stringify({type:'ENTER',writer:nickname}));
    }
    function onMessage(e){
        space = document.getElementById("space");
        space.innerHTML = space.innerHTML + "<div class='row'> <div class='col-lg-12'> <div class='media'> <div class='media-body'> <h4 class='media-heading'>" +
            "<h4 class='small pull-right'></h4> </h4> </div> <p>" +
            e.data + "</p> </div> </div> </div> <hr>";
        space.scrollTop = space.scrollHeight;
        
    }
    function goBoard(){
        $("#pop").modal();
        document.getElementById("y").onclick = function(){
            webSocket.send(JSON.stringify({type:'LEAVE',writer:nickname}));
            webSocket.close();
            window.location.href="/board/lists/1";
        }
        document.getElementById("n").onclick = function(){
            $("#pop").modal("hide");
        }
    }
    window.onbeforeunload = function(e){
        webSocket.send(JSON.stringify({type:'LEAVE',writer:nickname}));
        webSocket.close();
    };
</script>
</html>
