<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/dashboard/">
    <title>Sale's Stock Example</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <h3 class="navbar-header" style="color:rgb(6,193,231);">Sale's Stock Example</h3>
            <div id="navbar" class="nav navbar-nav navbar-right">
                <i class="navbar-form navbar-right">
                    <input type="text" class="form-control navbar-form" id = "company" placeholder="회사검색...">
                    <button class="btn btn-default" type="button" onclick=submitCompany()><i class="fas fa-search">검색</i></button>
                </i>
            </div>
        </div>
    </nav>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-10 main">
            <h1 class="page-header" th:text='*{form.getCompanyName()}'></h1>
            <h1 class="page-header" id = "nowCost" th:text='*{form.getNowCost()}'></h1>
            <div class="row placeholders">
                <div class="panel panel-primary col-xs-6 col-sm-3 placeholder">
                    <div class="panel-heading">전일</div>
                    <div class="panel-body" th:text="*{form.getPrevDay()}"></div>
                </div>
                <div class="panel panel-success col-xs-6 col-sm-3 placeholder">
                    <div class="panel-heading">시가</div>
                    <div class="panel-body" th:text="*{form.getStartCost()}"></div>
                </div>
                <div class="panel panel-info col-xs-6 col-sm-3 placeholder">
                    <div class="panel-heading">고가</div>
                    <div class="panel-body" th:text="*{form.getHighCost()}"></div>
                </div>
                <div class="panel panel-danger col-xs-6 col-sm-3 placeholder">
                    <div class="panel-heading">저가</div>
                    <div class="panel-body" th:text="*{form.getLowCost()}"></div>
                </div>
            </div>
            <hr>
            <h3>차트 그래프</h3>
            <hr>
            <div class="row">
                <div class="col-md-3" id = "graph"></div>
                <div class="col-md-4 col-md-offset-4">
                    <div id="transaction" style="overflow:scroll; width:550px; height:300px; position:absolute; right : 150px"></div>
                    <div class="col-md-offset-9">
                        <button class='btn-primary' onclick="sellModal()">매도하기</button>
                        <p></p>
                        <button class="btn-danger" onclick="buyModal()">매수하기</button><p></p>
                        <button class="btn-info" onclick="accountSelect()">계좌선택</button>
                        <h3 id="accountInfo"></h3>
                        <h3 id="balanceInfo"></h3>
                    </div>
                </div>
            </div>
            <h2 class="sub-header">일별 시세</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>날짜</td>
                        <td>시가</td>
                        <td>고가</td>
                        <td>저가</td>
                        <td>종가</td>
                        <td>거래량</td>
                    </tr>
                    </thead>
                    <tbody id = "tableBody">

                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" onclick='prevPage()'>Previous</a></li>
                        <li class="page-item"><a class="page-link" onclick='nextPage()'>Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pop" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">알림!</h4>
                </div>
                <div class="modal-body table-responsive">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <td>은행명</td>
                            <td>별칭</td>
                            <td>계좌번호</td>
                            <td>선택</td>
                        </tr>
                        </thead>
                        <tbody id = "accountList">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id = "exitModal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="buy" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">알림!</h4>
                </div>
                <div class="modal-body">
                    <h3>매수가</h3><input type="text" class="form-control" id = "buyPrice">
                    <button class="btn btn-info" id = "nowValue" onclick="setNowPrice()">현재가</button>
                    <h3>수량</h3><input type="text" class="form-control" id = "buyCount">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id = "buyYes">예</button>
                    <button type="button" class="btn btn-default" id = "buyNo">아니오</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sell" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">알림!</h4>
                </div>
                <div class="modal-body">
                    <select class="form-control" id = "selectedStock">
                    </select>
                    <h3>매도가</h3><input type="text" class="form-control" id = "sellPrice">
                    <h3>수량</h3><input type="text" class="form-control" id = "sellCount">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id = "sellYes">예</button>
                    <button type="button" class="btn btn-default" id = "sellNo">아니오</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    code = null;
    page = null;
    window.onload = function(){
        url = window.location.href;
        code = url.slice(-6);
        if(code == "/stock" || code == "stock?") code = "005930";
        graph = document.getElementById("graph");
        graph.innerHTML = "<img src= https://ssl.pstatic.net/imgfinance/chart/item/candle/day/" + code + ".png>";
        page=1;
        getDataByPage(1);
    }
    function prevPage(){
        if(page == 1){
            return;
        }
        page = page -1;
        getDataByPage(page);
    }
    function nextPage(){
        if(page == 9){
            return;
        }
        page = page + 1;
        getDataByPage(page);
    }
    function getDataByPage(page){
        $.ajax({
            type:'GET',
            url: '/stock/dayData?page=' + page + '&code=' + code
        }).done(function(e){
            console.log(e);
            tableElement = document.getElementById("tableBody");
            tableElement.innerHTML = "";
            for(var i=0;i<10;++i){
                tableElement.innerHTML = "<tr> <td>" + e.data[i].date + "</td> <td>" + e.data[i].startCost + "</td> <td>" + e.data[i].highCost + "</td> <td>" + e.data[i].lowCost + "</td> <td>" + e.data[i].endCost + "</td> <td>" + e.data[i].volume + "</td> </tr>" + tableElement.innerHTML;
            }
        }).fail(function(e){
            alert("잠시 후 시도해주세요");
        })
    }

    $(function(){
        $("#company").autocomplete({
            source : "/stock/companyAutoComplete",
            autoFocus : true,
            delay : 100,
            select: function( event, ui ) {
                this.value = ui.item.value;
                $("#company").val(ui.item.value);
                return false;
            }
        });
    })
    function submitCompany(){
        company = $("#company").val();
        if(company.length == 0){
            location.href="/stock";
        }
        else{
            $.ajax({
                type:'GET',
                url: '/stock/companyCode',
                data : {company : company},
                contentType: 'application/json; charset=utf-8',
            }).done(function(e){
                window.location.href="/stock?code="+e;
            }).fail(function(e){
                console.log(e);
                alert("잠시 후 시도해주세요");
            })
        }
    }
    var fintech_use_num;
    var account_num;
    function accountSelect(){
        fintech_use_num = new Array();
        account_num = new Array();
        $.ajax({
            type:'GET',
            url: '/stock/accountSelect'
        }).done(function (e){
            accountList= document.getElementById("accountList");
            accountList.innerHTML = "";
            for(var i = 0; i<e.accountList.length;++i){
                fintech_use_num[i] = e.accountList[i].fintech_use_num;
                account_num[i] = e.accountList[i].account_num_masked;
                accountList.innerHTML = "<tr> <td>" + e.accountList[i].bank_name + "</td> <td>" + e.accountList[i].account_alias + "</td> <td>" + e.accountList[i].account_num_masked +"</td> <td> <button class='btn btn-success' onclick='javascript:selectAccount(" + i + ")'></button></td></tr>" + accountList.innerHTML;
            }
            $("#pop").modal();
            document.getElementById("exitModal").onclick = function(){
                $("#pop").modal("hide");
            }
        }).fail(function (e){
            alert("잠시 후 시도해주세요.")
        })
    }
    selected_fintech_use_num = null;
    selected_num = null;
    balance = null;
    function selectAccount(i){
        accountInfo = document.getElementById("accountInfo");
        balanceInfo = document.getElementById("balanceInfo");
        selected_num = i;
        selected_fintech_use_num = fintech_use_num[i];
        accountInfo.innerText = "계좌번호 : " + account_num[i];
        $.ajax({
            type:'GET',
            url: '/stock/getBalance?fintech_use_num=' + selected_fintech_use_num
        }).done(function(e){
            console.log(e);
            $("#pop").modal("hide");
            balanceInfo.innerText = "잔액 : " + e.balance + "원";
            balance = e.balance;
            transaction = document.getElementById("transaction");
            transaction.innerHTML="";
            modalStockList = document.getElementById("selectedStock");
            modalStockList.innerHTML="";
            for(var i=0;i<e.list.length;++i){
                avg = e.transactions[e.list[i]].price / e.transactions[e.list[i]].number;
                transaction.innerHTML = "<h4>회사 : " + e.transactions[e.list[i]].company + " 평단가 :" + Math.floor(avg) + " 수량 : "+  e.transactions[e.list[i]].number + "</h4>" + transaction.innerHTML;
                modalStockList.innerHTML = "<option value='" + e.transactions[e.list[i]].company + "'>" + e.transactions[e.list[i]].company + "</option>" + modalStockList.innerHTML;
                if(i==0){
                    $.ajax({
                        type:'GET',
                        url: '/stock/info',
                        data: {fintech_use_num : selected_fintech_use_num, name : e.transactions[e.list[i]].company},
                        dataType : 'json',
                        contentType: 'application/json; charset=utf-8'
                    }).done(function(e){
                        $("#sellPrice").attr('placeholder', e.price);
                        $("#sellCount").attr('placeholder', e.transaction.number);
                    }).fail(function(e){
                        alert("잠시 후 시도해주세요");
                    })
                }
            }
        }).fail(function(e){
            alert("잠시 후 시도해주세요");
        })
    }
    function buyModal(){
        if(document.getElementById("accountInfo").innerText == ""){
            alert("계좌를 먼저 선택해주세요");
            return;
        }
        $("#buy").modal();
        document.getElementById("buyNo").onclick = function(){
            $("#buy").modal("hide");
        }
        document.getElementById("buyYes").onclick = function(){
            v = buy();
            if(v != -1) $("#buy").modal("hide");
        }
    }
    function buy(){
        //매수
        tmpCost = document.getElementById("buyPrice").value;
        cost = "";
        for(var i =0;i<tmpCost.length;++i){
            if(tmpCost[i] == ',') continue;
            cost += tmpCost[i];
        }
        count = document.getElementById("buyCount").value;
        if(cost * count > balance){
            alert("잔액 초과");
            return -1;
        }
        $.ajax({
            type:'POST',
            url: '/stock/buy',
            data : JSON.stringify({fintech_use_num : selected_fintech_use_num,
                code : code,
                price : cost,
                count : count
            }),
            dataType : 'json',
            contentType: 'application/json; charset=utf-8',
        }).done(function(e){
            selectAccount(selected_num);
            return 0;
        }).fail(function(e){
            alert("잠시 후 시도해주세요");
        })
    }
    function sell(){
        if($("#sellCount").val() > $("#sellCount").attr('placeholder')){
            alert("보유수량보다 많이 매도할 수 없습니다");
            return;
        }

        $.ajax({
            type:'POST',
            url: '/stock/sell',
            data : JSON.stringify({fintech_use_num : selected_fintech_use_num,
                                    name : $("#selectedStock option:selected").val(),
                                    price : $("#sellPrice").val(),
                                    count : $("#sellCount").val()}),
            dataType : 'json',
            contentType : 'application/json; charset=utf-8'
        }).done(function(e){
            console.log(e);
            selectAccount(selected_num);
        }).fail(function(e){
            console.log(e);
        })
    }
    $(document).ready(function(){
        $("#selectedStock").on('change',function(){
            $.ajax({
                type:'GET',
                url: '/stock/info',
                data: {fintech_use_num : selected_fintech_use_num, name : this.value},
                dataType : 'json',
                contentType: 'application/json; charset=utf-8'
            }).done(function(e){
                $("#sellPrice").attr('placeholder', e.price);
                $("#sellCount").attr('placeholder', e.transaction.number);
            }).fail(function(e){
                alert("잠시 후 시도해주세요");
            })
        })
    })
    function sellModal(){
        $("#sellPrice").val("");
        $("#sellCount").val("");
        $("#sell").modal();
        document.getElementById("sellNo").onclick = function(){
            $("#sell").modal("hide");
        }
        document.getElementById("sellYes").onclick = function(){
            sell();
            $("#sell").modal("hide");
        }
    }
    function setNowPrice(){
        document.getElementById("buyPrice").value = document.getElementById("nowCost").innerText;
    }
</script>
</body>
</html>
