<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sale's Stock Example</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-brand">주식 차트</div>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" id = "company" type="text" placeholder="Search for..."  aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick=submitCompany()><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <!-- Navbar-->
</nav>
<div>
    <div>
        <hr><hr>
        <main>
            <div class="container-fluid">
                <h1 class="mt-4" th:text="*{form.getCompanyName()}"></h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active" th:text="*{form.getNowCost()}"></li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">전일</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" th:text="*{form.getPrevDay()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">시가</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" th:text="*{form.getStartCost()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">고가</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link"th:text="*{form.getHighCost()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">저가</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" th:text="*{form.getLowCost()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" id = "graph">
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        일별 시세
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <td>날짜</td>
                                    <td>시가</td>
                                    <td>고가</td>
                                    <td>저가</td>
                                    <td>종가</td>
                                    <td>거래량</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>

<script>
    window.onload = function(){
        url = window.location.href;
        code = url.substr(33,6);
        if(code.length == 0) code = "005930";
        graph = document.getElementById("graph");
        graph.innerHTML = "<img src= https://ssl.pstatic.net/imgfinance/chart/item/candle/day/" + code + ".png>";
    }

    $(function(){
        $("#company").autocomplete({
            source : "/stock/companyAutoComplete",
            autoFocus : true,
            delay : 100,
            select: function( event, ui ) {
                this.value = ui.item.value;
                $("#company").val(ui.item.value);
                return false;
            }
        });
    })
    function submitCompany(){
        company = $("#company").val();
        if(company.length == 0){
            location.href="/stock";
        }
        else{
            $.ajax({
                type:'GET',
                url: '/stock/companyCode',
                data : {company : company},
                contentType: 'application/json; charset=utf-8',
            }).done(function(e){
                window.location.href="/stock?code="+e;
            }).fail(function(e){
                console.log(e);
                alert("잠시 후 시도해주세요");
            })
        }
    }
</script>
</body>
</html>
