<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>

<body>

<div class="container">

    <form class="form-signing" th:object="${post}"th:action= "@{/posts/{id}/edit (id = ${post.id})}" method = "post">
        <a class="btn btn-warning pull-right" href = "/logout">로그아웃</a>
        <br><br>
        <h2><label for="title" class = "label label-default">제목</label></h2>
        <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="제목을 입력해주세요" required autofocus>
        <br>
        <h2><label for="content" class = "label label-default">내용</label></h2>
        <textarea th:field="*{content}"id="content" class="form-control" placeholder="내용을 입력해주세요" required></textarea>
        <br>
        <h2><label for="author" class = "label label-default">작성자</label></h2>
        <label th:text="*{author}" id="author" class="form-control"></label>
        <br>
        <button class = "btn btn-info" type = "submit">수정하기</button>
        <a class="btn btn-danger" href = "javascript:history.back()">돌아가기</a>
    </form>

</div> <!-- /container -->


</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>
