<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/board/lists/1">게시판</a>
            <a class="navbar-brand" href="/chat">채팅</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method = "get" action = /posts/search/1>
                <select name = "type" class = "form-control-sm" style = "height : 33px; margin : 1px">
                    <option value = "title" selected = "selected">제목</option>
                    <option value = "content">내용</option>
                    <option value = "author">글쓴이</option>
                </select>
                <div class="form-group">
                    <input type="text" name = "str" placeholder="입력하세요" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">검색</button>
                <a class="btn btn-warning" th:if=${session.isEmpty()} href = "/home">로그인</a>
                <a class="btn btn-warning" th:if=${!session.isEmpty()} href = "javascript:logout()">로그아웃</a>
            </form>
        </div>
    </div>
</nav>
<div class="container">

    <form class="form-signing" th:object="${post}"th:action= "@{/posts/edit/{id} (id = ${post.id})}" method = "post" enctype="multipart/form-data">
        <br><br><br>
        <h2><label for="title" class = "label label-default">제목</label></h2>
        <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="제목을 입력해주세요" required autofocus>
        <br>
        <h2><label for="content" class = "label label-default">내용</label></h2>
        <textarea th:field="*{content}"id="content" class="form-control" placeholder="내용을 입력해주세요" required></textarea>
        <h2><label th:if="*{!fileName.isEmpty()}" class = "label label-default">이미지</label></h2>
        <label th:if="*{!fileName.isEmpty()}">
            <img th:src = "*{fileName}" width="300" height="200"/>
            <br>
        </label>
        <h2><label for="author" class = "label label-default">작성자</label></h2>
        <label th:text="*{user.name}" id="author" class="form-control"></label>
        <br>
        <button class = "btn btn-info" type = "submit">수정하기</button>
        <a class="btn btn-danger" href = "javascript:history.back()">돌아가기</a>
    </form>

</div> <!-- /container -->


</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function logout(){
        if(window.confirm("로그아웃 하시겠습니까??")){
            window.location.href="/logout";
        }
    }
</script>
</html>
