<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>

<body>
<div class = "container">
    <a class="btn btn-warning pull-right" href = "/logout">로그아웃</a>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td>
                <a th:text="${post.title}" th:href = "@{/posts/{id}/read (id = ${post.id})}"></a>
            </td>
            <td th:text="${post.author}"></td>
        </tr>
        </tbody>
    </table>
    <a class ="btn btn-primary pull-right" href = "/board/newPost">글쓰기</a>
</div>
</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>