<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/board/lists/1">게시판</a>
            <a class="navbar-brand" href="/chat">채팅</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method = "get" action = /posts/search/1>
                <select name = "type" class = "form-control-sm" style = "height : 33px; margin : 1px">
                    <option value = "title" selected = "selected">제목</option>
                    <option value = "content">내용</option>
                    <option value = "author">글쓴이</option>
                </select>
                <div class="form-group">
                    <input type="text" name = "str" placeholder="입력하세요" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">검색</button>
                <a class="btn btn-warning" th:if=${session.isEmpty()} href = "/home">로그인</a>
                <a class="btn btn-warning" th:if=${!session.isEmpty()} href = "javascript:logout()">로그아웃</a>
            </form>
        </div>
    </div>
</nav>

<div class = "container">
    <br><br><br>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td>
                <a th:text="${post.title}" th:href = "@{/posts/read/{id} (id = ${post.id})}"></a>
            </td>
            <td th:text="${post.user.name}"></td>
            <td th:text="${post.viewCnt}"></td>
            <td th:text="${#temporals.format(post.postTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <div id = "paginationBox">
        <a th:if="${pagination.prev}" th:href = "@{/board/lists/{num} (num = ${pagination.getPage() - 1})}" class = "btn btn-primary">prev</a>
        <button class = "btn btn-primary">현재페이지</button>
        <a th:if="${pagination.next}" th:href = "@{/board/lists/{num} (num = ${pagination.getPage() + 1})}" class = "btn btn-primary">next</a>
    </div>
    <a class ="btn btn-primary pull-right" href = "/board/newPost">글쓰기</a>
</div>
<div class="modal fade" id="pop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림!</h4>
            </div>
            <div class="modal-body">
                로그아웃 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "y">예</button>
                <button type="button" class="btn btn-default" id = "n">아니오</button>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function logout(){
        $("#pop").modal();
        document.getElementById("y").onclick = function(){
            window.location.href="/logout";
        }
        document.getElementById("n").onclick = function(){
            $("#pop").modal("hide");
        }
    }
</script>
</body>
</html>