<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'>


</head>

<body>

<div class="container">
    <form class="form-signing" action="/posts/new" th:object="${postForm}" method = "post" enctype="multipart/form-data">
        <a class="btn btn-warning pull-right" href = "javascript:logout()">로그아웃</a>
        <h2 class="form-signing-heading">새로운 글 쓰기</h2>
        <h2><label for="title" class = "label label-default">제목</label></h2>
        <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="제목을 입력해주세요" required autofocus>
        <br>
        <h2><label for="content" class = "label label-default">내용</label></h2>
        <textarea th:field="*{content}"id="content" class="form-control" placeholder="내용을 입력해주세요" required></textarea>
        <br>
        <h2><label for="author" class = "label label-default">작성자</label></h2>
        <label th:text="*{user.name}" id="author" class="form-control"></label>
        <br>
        <h2><label for="img" class = "label label-default">이미지 첨부</label></h2>
        <input type="file" id = "img" name="img" class="file-path validate" accept = "image/*" onchange="fileChk(this)"/>
        <br>
        <img id = "imagePreview" width="300" height="200" style = "display :none"/>
        <br>
        <button class="btn btn-primary" type="submit">글 등록하기</button>
        <a class="btn btn-danger" href = "javascript:history.back()">돌아가기</a>
    </form>

</div> <!-- /container -->


</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type = "text/javascript">
    function fileChk(input) {
        path = input.value.lastIndexOf('.');
        filePoint = input.value.substring(path+1,input.length);
        type = filePoint.toLowerCase();
        if(!(type == 'jpg' || type == 'gif' || type == 'png' || type == 'jpeg')){
            alert("jpg, gif, png, jpeg중 하나를 업로드해주세요!");
            e.value = '';
        }
        else{
            var reader = new FileReader();
            reader.onload = function(e){
                $('#imagePreview').attr('src',e.target.result);
                document.getElementById('imagePreview').style.display = "block";
            }
            reader.readAsDataURL(input.files[0]);
            console.log(input.files[0]);
        }

    }
    function logout(){
        if(window.confirm("로그아웃 하시겠습니까??")){
            window.location.href="/logout";
        }
    }
</script>
</html>
