<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">

    <form class="form-signing" action="/posts/new" th:object="${postForm}" method = "post">
        <a class="btn btn-warning pull-right" href = "/logout">로그아웃</a>
        <h2 class="form-signing-heading">새로운 글 쓰기</h2>
        <label for="title" class="sr-only">제목</label>
        <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="제목을 입력해주세요" required autofocus>
        <br>
        <label for="content" class="sr-only">비밀번호</label>
        <textarea th:field="*{content}"id="content" class="form-control" placeholder="내용을 입력해주세요" required></textarea>
        <br>
        <label for="author" class="sr-only">작성자</label>
        <label th:text="*{author}" id="author" class="form-control"></label>
        <br>
        <button class="btn btn-primary" type="submit">글 등록하기</button>
        <button class="btn btn-danger" onclick = "location.href='/'">돌아가기</button>
    </form>

</div> <!-- /container -->


</body>
</html>
