<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/board/lists/1">게시판</a>
            <a class="navbar-brand" href="/chat">메시지</a>
            <a class="navbar-brand" onclick = "javascript:mypage()">마이페이지</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method = "get" action = /posts/search/1>
                <select name = "type" class = "form-control-sm" style = "height : 33px; margin : 1px">
                    <option value = "title" selected = "selected">제목</option>
                    <option value = "content">내용</option>
                    <option value = "author">글쓴이</option>
                </select>
                <div class="form-group">
                    <input type="text" name = "str" placeholder="입력하세요" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">검색</button>
                <a class="btn btn-warning" href = "javascript:logout()">로그아웃</a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <form class="form-signing" action="/posts/new" th:object="${postForm}" method = "post" enctype="multipart/form-data">
        <h2 class="form-signing-heading">새로운 글 쓰기</h2>
        <h2><label for="title" class = "label label-default">제목</label></h2>
        <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="제목을 입력해주세요" required autofocus>
        <br>
        <h2><label for="content" class = "label label-default">내용</label></h2>
        <textarea th:field="*{content}"id="content" class="form-control" placeholder="내용을 입력해주세요" required></textarea>
        <br>
        <h2><label for="author" class = "label label-default">작성자</label></h2>
        <label th:text="*{user.name}" id="author" class="form-control"></label>
        <br>
        <h2><label for="img" class = "label label-default">이미지 첨부</label></h2>
        <input type="file" id = "img" name="img" class="file-path validate" accept = "image/*" onchange="fileChk(this)"/>
        <br>
        <img id = "imagePreview" width="300" height="200" style = "display :none"/>
        <br>
        <button class="btn btn-primary" type="submit">글 등록하기</button>
        <a class="btn btn-danger" href = "javascript:history.back()">돌아가기</a>
    </form>

</div> <!-- /container -->
<div class="modal fade" id="pop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림!</h4>
            </div>
            <div class="modal-body">
                로그아웃 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "y">예</button>
                <button type="button" class="btn btn-default" id = "n">아니오</button>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline = "javascript">
    /* <![CDATA[*/
    var id = /*[[${userId}]]*/;
    /* ]]> */
    function mypage(){
        if(id == 0){
            alert("로그인 후 이용해주세요");
        }
        else{
            window.location.href = "/users/myPage/" + id;
        }
    }
    function logout(){
        $("#pop").modal();
        document.getElementById("y").onclick = function(){
            window.location.href="/logout";
        }
        document.getElementById("n").onclick = function(){
            $("#pop").modal("hide");
        }
    }
    function fileChk(input) {
        path = input.value.lastIndexOf('.');
        filePoint = input.value.substring(path+1,input.length);
        type = filePoint.toLowerCase();
        if(!(type == 'jpg' || type == 'gif' || type == 'png' || type == 'jpeg')){
            alert("jpg, gif, png, jpeg중 하나를 업로드해주세요!");
            input.value = '';
        }
        else{
            var reader = new FileReader();
            reader.onload = function(e){
                $('#imagePreview').attr('src',e.target.result);
                document.getElementById('imagePreview').style.display = "block";
            }
            reader.readAsDataURL(input.files[0]);
            console.log(input.files[0]);
        }

    }
</script>

</body>
</html>
