<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>

<body>

<div class="container">

    <form class="form-signing" th:object="${post}"th:action= "@{/posts/{id}/edit (id = ${post.id})}" method = "get">
        <a class="btn btn-warning pull-right" href = "/logout">로그아웃</a>
        <br><br>
        <h2><label for="title" class = "label label-default">제목</label></h2>
        <label th:text="*{title}" id="title" class="form-control"></label>
        <br>
        <h2><label for="content" class = "label label-default">내용</label></h2>
        <label th:text="*{content}" id="content" class="form-control"></label>
        <h2><label for = "img" th:if="*{!fileName.isEmpty()}" class = "label label-default">이미지</label></h2>
        <label th:if="*{!fileName.isEmpty()}" id = "img">
            <img th:src = "*{fileName}" width="300" height="200"/>
            <br>
        </label>
        <h2><label for="author" class = "label label-default">작성자</label></h2>
        <label th:text="*{author}" id="author" class="form-control"></label>
        <br>
        <button class = "btn btn-info" th:if="${userName.toString().equals(post.getAuthor().toString())}" type = "submit">수정하기</button>
        <a class = "btn btn-info" th:if="${userName.toString().equals(post.getAuthor().toString())}" th:href = "@{/posts/{id}/del (id=${post.id})}">삭제하기</a>
        <a class="btn btn-danger" href = "javascript:history.back()">돌아가기</a>
    </form>

</div> <!-- /container -->


</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>
