<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>박세일의 CRUD게시판 프로젝트</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>

<body>
<div class = "container">
    <a class="btn btn-warning pull-right" href = "/logout">로그아웃</a>
    <br><br>
    <a class = "btn btn-primary pull-right" href = "/board/lists/1">전체목록보기</a>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td>
                <a th:text="${post.title}" th:href = "@{/posts/{id}/read (id = ${post.id})}"></a>
            </td>
            <td th:text="${post.author}"></td>
        </tr>
        </tbody>
    </table>
    <div id = "paginationBox">
        <a th:if="${pagination.prev}" href = "javascript:prevGo()" class = "btn btn-primary">prev</a>
        <button class = "btn btn-primary">현재페이지</button>
        <a th:if="${pagination.next}" href = "javascript:nextGo()" class = "btn btn-primary">next</a>
    </div>
    <a class ="btn btn-primary pull-right" href = "/board/newPost">글쓰기</a>
</div>
</body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
    function nextGo(){
        param = document.location.href.split('?')[1];
        page = parseInt(document.location.href.split('/')[5]) + 1;
        location.replace("/posts/search/" + page + '?' + param);
    }
    function prevGo(){
        param = document.location.href.split('?')[1];
        page = parseInt(document.location.href.split('/')[5]) - 1;
        location.replace("/posts/search/" + page + '?' + param);
    }
</script>
</html>