<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166984622-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-166984622-1');
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/board/lists/1">게시판</a>
                <a class="navbar-brand" href="/chat">메시지</a>
                <a class="navbar-brand" onclick = "javascript:mypage()">마이페이지</a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" onclick = "javascript:notice()">
                            <span class="label label-pill label-danger count"></span>
                            알림
                        </a>
                        <ul id="noticeList" class="dropdown-menu" style="overflow-y : auto; width : 300px; height : 300px">

                        </ul>
                    </li>

                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" method = "get" action = /posts/search/1>
                    <select name = "type" class = "form-control-sm" style = "height : 33px; margin : 1px">
                        <option value = "title" selected = "selected">제목</option>
                        <option value = "content">내용</option>
                        <option value = "author">글쓴이</option>
                    </select>
                    <div class="form-group">
                        <input type="text" name = "str" placeholder="입력하세요" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">검색</button>
                    <a class="btn btn-warning" th:if="${userName.toString().length() == 0}" href = "/home">로그인</a>
                    <a class="btn btn-warning" th:if="${userName.toString().length() != 0}" href = "javascript:logout()">로그아웃</a>
                </form>
            </div>
        </div>
    </nav>
</header>

</html>