<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div class="container" layout:fragment="content">
    <br><br><br>
    <form class="form-signing" action= "/login" method = "post">
        <h2 class="form-signing-heading">로그인</h2>
        <label for="inputEmail" class="sr-only">이메일</label>
        <input type="email" name = "email"id="inputEmail" class="form-control" placeholder="이메일을 입력해주세요" required autofocus>
        <label for="inputPassword" class="sr-only">비밀번호</label>
        <input type="password" name = "password" id="inputPassword" class="form-control" placeholder="비밀번호를 입력해주세요" required>
        <br>
        <div class = "alert alert-danger" th:if="${state.toString().equals('fail')}"> 아이디와 비밀번호를 확인해주세요</div>
        <p>
            <input type="checkbox" id="remember-me" name = "remember-me" class = "custom-control-input">
            remember-me
        </p>
        <button class="btn btn-lg btn-primary" type="submit">입장</button>
        <a class="btn btn-lg btn-success" href = "/users/new">회원가입</a>
    </form>
    <form class="form-signing" action= "/login" method = "post">
        <input type="hidden" name = "email" value = "main.cpp@kakao.com">
        <label for="inputPassword" class="sr-only">비밀번호</label>
        <input type="hidden" name = "password" value = "1">
        <br>
        <button class="btn btn-lg btn-warning" type="submit">체험하기</button>
    </form>
</div> <!-- /container -->
<th:block th:replace="fragment/footer :: footerFragment"> </th:block>

</html>
